.header-top {
    padding: 15px 0;
    background: #F9F9F9;
}
.headertop-right ul {
    list-style: none;
    display: flex;
    justify-content: right;
}
.headertop-right ul li, .headertop-left p {
    color: #222222;
    font-weight: 300;
    font-size: 14px;
    margin: 0 15px;
} 
.headertop-left p {
    margin: 0;
}
.header {
    padding: 30px 0;
}
.search-box input {
    width: 100%;
    color: #222222;
    padding: 8px 15px;
}
.search-box {
    position: relative;
}
.search-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background: #5677FC;
}
.search-icon svg.svg-inline--fa.fa-search {
    color: #fff;
}
.cart-thumb {
    text-align: right;
}
.cart-thumb img {
    margin: 0 13px;
}