
.product-table td {
    text-align: center;
    line-height: 136px;
    font-size: 14px;
}
.product-table thead {
    text-align: center;
}
.product-table .table>:not(:first-child) {
    border-top: 0;
}
.product-table th {
    color: #222;
    font-size: 14px;
    font-weight: 500;
}
button.delete-btn {
    background: no-repeat;
    border: 0;
    color: red;
    font-weight: 500;
}
.order-part .order {
    display: none;
}
.order-part .btn2 {
    display: none;
}