.banner-part {
    padding: 35px 0 50px;
}
.slider-left-thumb {
    display: flex;
    background: url(../../../images/slider-bg-1.png) no-repeat center;
    background-size: cover;
    padding: 90px 50px 90px;
    align-items: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.slider-content {
    width: 50%;
}
.slider-thumb {
    width: 50%;
}
.slider-thumb img {
    width: 100%;
}
.slider-content h1 {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 40px;
    text-transform: capitalize;
    line-height: 46px;
    margin-bottom: 15px;
}
.slider-content h1 span {
    font-weight: 500;
}
.slider-content p {
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 52px;
}
.slider-content button {
    background: #343F6B;
    border: 0;
    padding: 15px 35px;
    color: #fff;
    font-size: 14px;
    border-radius: 8px;
    font-weight: 300;
}
.slider-right  {
    display: flex;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    align-items: center;
}
.slider-right.headphone {
    background: #91AF49;
}
.slider-right.Smartwatch {
    background: #E66C3B;
}
.slider-right  div:first-child {
    width: 60%;
}
.slider-right  div:last-child {
    width: 40%;
}
.slider-right h2 {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
}
.slider-right p {
    color: #FFFFFF;
    font-size: 15px;
}
/* media query */
@media only screen and (max-width: 575px) {
    .slider-content h1 {
        font-size: 26px;
        margin-bottom: 12px;
        line-height: 1.2;
    }
    .slider-content p {
        font-size: 13px;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    .slider-left-thumb {
        padding: 50px 20px 55px;
        margin-bottom: 20px;
    }
    .slider-content button {
        padding: 10px 20px;
    }
}