.make-admin form input {
    width: 50%;
    display: block;
    margin: 0 auto 15px;
}

.make-admin {
    text-align: center;
}
/* media query */
@media only screen and (max-width: 575px) {
    .make-admin form input {
        width: 85%;
    }
}
