.dashboard {
    padding: 50px 0;
}
.dashboard-left ul li a {
    text-decoration: none;
    color: #222222;
    font-size: 15px;
    margin: 6px 0;
    display: inline-block;
}

.dashboard-left ul {
    list-style: none;
    padding: 0;
}
.dashborad-right h4 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
}