button.payment-btn {
    border: 0;
    background: #5677FC;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    margin-top: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-transform: uppercase;
}
button.payment-btn:disabled {
    background-color: rgb(189, 184, 184);
    color: #666;
}
.sub-total.total {
    margin-bottom: 20px;
}
input#note {
    height: 70px;
}