
.pd-input {
    width: 50%;
    display: inline-block;
}
input.submit-btn.add-pd {
    width: 140px;
    height: 40px;
}

/* media query */
@media only screen and (max-width: 575px) {
    .pd-input {
        width: 100%;
    }
}